$font-size: 1rem;
$font-color: lch(53% 45 140);
$br: 15px;
$body-color: lch(70% 70 200);
$form-color: lch(89% 90 215);
$gradient: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


html {
  font-size: $font-size;
  color: $font-color;
  text-shadow: aquamarine 1px 1px;
}
.main {

  position: fixed;
}
.blur{
  filter: blur(1px);
  pointer-events: none;
}
body {

  background: $body-color;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;


    input {
      margin: 1rem;
      border-radius: $br;
      padding: 0.6rem;
      background: $form-color;
    }


    textarea {
      background: $form-color;
      border-radius: $br;
      align-items: flex-start;
      margin: 1rem;
      height: 70px;
      padding: 1rem;
      width: 20rem;
      resize: none;
    }
  }
  .btns {
      display: flex;
      flex-direction: row;
  }
}
.btn_close {
  position: absolute;
  top: -5px;
  left: 560px;
  height: 30px;
  width: 30px;
  border-radius: $br;
  background: transparent;
}
.glow-on-hover {
  width: 190px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bolder;
  font-size: 17px;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  top: 270px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  &:active {
    width: 170px;
    height: 45px;
    font-size: 13px;
  }
}
.modal {
  z-index: 5;
  position: absolute;
  height: auto;
  width: 40%;
  padding: 1rem;
  color: black;
  border: groove $form-color 5px;
  background: #00ffd5;
  border-radius: $br;
  opacity: 0;
  animation: modal_anim 1s forwards;
}
.label_error {
  width: auto;
  height: 30px;
  padding: 1rem;
  color: black;
  margin-bottom: 20px;
  background: #00ffd5;
  border: solid red 3px;
  border-radius: $br;
  visibility: hidden;
}
.glow-on-hover:before {
  content: '';
  background: $gradient;
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00ffd5;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes modal_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}